.img-thumbnail {
    max-height: 130px;
    max-width: 50px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    font-size: 15px !important;
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    font-size: 15px !important;
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    font-size: 15px !important;
    color: #fff;
}

.kv-file-content img {
    max-height: 150px !important;
}

.id {
    width: 5%;
    clear: left;
}

.code {
    width: 10%;
}

.category-select {
    width: 30%;
}

.product-select {
    width: 30%;
}

.quantity {
    width: 10%;
}

.price-show {
    width: 15%;
}

.grid-display {

    display: inline-block;
    padding-left: 8px;
    padding-right: 0;
    margin-top: 10px;
    text-align: center;
    float: left;
}

.grid-display input {
    float: left;
}

.product-select select {
    background: url(/web/themes/frontend/assets/images/green-arrow.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 98%;
    background-size: 16px 16px;
}

.category-select select {
    background: url(/web/themes/frontend/assets/images/green-arrow.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-position-x: 98%;
    background-size: 16px 16px;
}

.item-header {
    background-color: #00a69c;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.item-header p {
    margin: 0 0 10px !important;
}

.action-pager {
    margin-top: 50px;
}

.action-item.add-item a {
    background: #c1b49a;
    height: 50px;
}

.action-item.add-item a:hover {
    background: #00a69c;
    text-decoration: none;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.action-item a {
    font-size: 20px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    width: 200px;
}

.wrapper-order {
    border-bottom: 2px solid #00a69c;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.order {
    margin: 7px 0;
    background-color: #00a69c;
    padding: 20px 10px 10px 40px;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}

.order:last-child {
    text-align: center;
}

.total p {
    font-weight: 700;
    text-transform: uppercase;
}

.action-item.order-cancel {
    padding-right: 70px;
}

.action-item.order-cancel a {
    background: #faaf40;
}

.action-item.order-cancel a:hover {
    background: #c3996b;
    text-decoration: none;
}

.action-item.order-accept {
    padding-left: 70px;
}

.action-item.order-accept button {
    background: #057267;
    border: none;
}

.action-item.order-accept button:hover {
    background: #00a69c;
    text-decoration: none;
}

.action-item a {
    font-size: 20px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    width: 200px;
}

.action-item button {
    font-size: 20px;
    height: 60px;
    padding-top: 7px;
    text-align: center;
    width: 200px;
}

.items {
    display: inline-block;
    width: 100%
}

.order-search .help-block {
    display: none;
}

.count-total {
    width: 20%;
}
.search-input {
    float: left;
    margin-right: 10px;
}

.order-search {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.control-label.search-input {
    margin-top: 6px;
}