@media screen and (max-width: 980px) {
  .title-icon-sidebar h4 {
    font-size: 15px; }

  .title-icon-sidebar h4 span {
    font-size: 20px; }

  .top-sidebar .title-top-sidebar {
    width: 100%; }

  .title-product {
    font-size: 18px; }

  .menu-main {
    margin: 0;
    width: 75%; }
    .menu-main ul {
      margin: 0;
      padding: 0; }

  .main-content-wrap .main-content {
    background: #fff none repeat scroll 0 0;
    padding: 40px 10px 20px; }

  .title-product {
    font-size: 14px; }

  .feature-product .description-product {
    font-size: 14px; }

  .title-icon-sidebar h4 span {
    font-size: 18px; }

  .top-sidebar .title-top-sidebar h3 {
    font-size: 16px; }

  .title-distribute-agency h3 {
    font-size: 18px; }

  .top-sidebar .description-post {
    display: none; }

  .title-icon-sidebar {
    margin: 30px 0 10px; }

  .post-sidebar-item {
    margin-bottom: 5px;
    padding-bottom: 5px; }

  .video-sidebar h4 {
    font-size: 14px; }

  .order-header {
    font-size: 14px; }

  .order {
    font-size: 14px; }
    .order p {
      height: 2.6em;
      line-height: 1.3;
      overflow: hidden; }
    .order .order-header {
      font-size: 14px;
      height: 1.3em;
      line-height: 1.3;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: pre-line; }

  .id {
    display: none;
    width: 60px; }

  .item-header {
    float: left;
    width: 100%; }

  .item-header > div {
    float: left;
    width: 20%; }

  .item-detail > div {
    float: left;
    width: 20%; }

  .action-item.add-item {
    margin-top: 20px; }

  .item-detail > .code {
    width: 10%; }

  .item-detail > .product-select {
    width: 25%; }

  .item-detail > .category-select {
    width: 25%; }

  footer .footer-item h3 {
    font-size: 15px; }
  footer .footer-item .hotline h2 {
    font-size: 30px; }
  footer .footer-item .hotline h3 {
    font-size: 28px; }
  footer .footer-item #map {
    width: 100%; } }
@media screen and (max-width: 767px) {
  body {
    font-size: 13px; }

  .logo {
    position: relative;
    z-index: 999; }

  .button-menu {
    float: right;
    margin: 0;
    display: block; }
    .button-menu .icon_menu {
      height: 33px;
      margin-top: 2px;
      position: relative;
      width: 36px;
      float: left; }
      .button-menu .icon_menu.open {
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s; }
        .button-menu .icon_menu.open span {
          background: none repeat scroll 0 0 transparent; }
          .button-menu .icon_menu.open span:after {
            -moz-transform: translate(0px, 0px) rotate(45deg);
            -o-transform: translate(0px, 0px) rotate(45deg);
            -ms-transform: translate(0px, 0px) rotate(45deg);
            -webkit-transform: translate(0px, 0px) rotate(45deg);
            transform: translate(0px, 0px) rotate(45deg); }
          .button-menu .icon_menu.open span:before {
            -moz-transform: translate(0px, 0px) rotate(-45deg);
            -o-transform: translate(0px, 0px) rotate(-45deg);
            -ms-transform: translate(0px, 0px) rotate(-45deg);
            -webkit-transform: translate(0px, 0px) rotate(-45deg);
            transform: translate(0px, 0px) rotate(-45deg); }
      .button-menu .icon_menu span {
        background: none repeat scroll 0 0 #C2B59B;
        display: inline-block;
        height: 4px;
        left: 5px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 30px; }
        .button-menu .icon_menu span:after {
          background: none repeat scroll 0 0 #C2B59B;
          content: "";
          display: inline-block;
          height: 4px;
          left: 0;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          -moz-transform: translate(0px, -10px) rotate(0deg);
          -o-transform: translate(0px, -10px) rotate(0deg);
          -ms-transform: translate(0px, -10px) rotate(0deg);
          -webkit-transform: translate(0px, -10px) rotate(0deg);
          transform: translate(0px, -10px) rotate(0deg);
          -moz-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s;
          -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
          width: 30px; }
        .button-menu .icon_menu span:before {
          background: none repeat scroll 0 0 #C2B59B;
          content: "";
          display: inline-block;
          height: 4px;
          left: 0;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          -moz-transform: translate(0px, 10px) rotate(0deg);
          -o-transform: translate(0px, 10px) rotate(0deg);
          -ms-transform: translate(0px, 10px) rotate(0deg);
          -webkit-transform: translate(0px, 10px) rotate(0deg);
          transform: translate(0px, 10px) rotate(0deg);
          -moz-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s;
          -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
          width: 30px; }

  .main-menu {
    float: right;
    width: 100%;
    position: relative; }
    .main-menu .login ul {
      padding: 0; }
    .main-menu .menu-main {
      float: right;
      margin: 0;
      padding-right: 15px;
      width: 60px; }
      .main-menu .menu-main ul {
        position: absolute;
        right: 0;
        top: 100%;
        width: 300px;
        -moz-transform: translate(100%, 0px);
        -o-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
        -webkit-transform: translate(100%, 0px);
        transform: translate(100%, 0px);
        -moz-transition: all 0.8s ease 0s;
        -o-transition: all 0.8s ease 0s;
        -webkit-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        z-index: 9999;
        opacity: 0;
        display: none; }
        .main-menu .menu-main ul.sub-menu {
          float: left;
          position: static;
          display: none; }
          .main-menu .menu-main ul.sub-menu a {
            color: #fff; }
        .main-menu .menu-main ul.open {
          -moz-transform: translate(0, 0px);
          -o-transform: translate(0, 0px);
          -ms-transform: translate(0, 0px);
          -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
          background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
          border: 1px solid #fff;
          display: block;
          margin: 0 0 0 5px;
          opacity: 1;
          padding: 0;
          right: 15px; }
          .main-menu .menu-main ul.open .sub-menu {
            display: none;
            width: 100%;
            margin: 0;
            padding-left: 10px; }
            .main-menu .menu-main ul.open .sub-menu.open {
              display: block; }
        .main-menu .menu-main ul li {
          width: 100%;
          list-style: none; }
          .main-menu .menu-main ul li a {
            color: #fff;
            padding: 5px 15px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #fff; }
            .main-menu .menu-main ul li a span {
              display: inline-block;
              margin-right: 10px;
              text-align: left; }

  .main-content-wrap .main-content {
    box-shadow: none;
    padding: 0; }

  .top-sidebar {
    padding-left: 0; }
    .top-sidebar:after {
      display: none; }
    .top-sidebar .title-top-sidebar {
      width: 100%; }

  .post-sidebar-item .content-post {
    margin-top: 10px;
    padding-left: 15px; }

  .distributor-agency .distribute-agency-content .distribute {
    padding-right: 15px; }
    .distributor-agency .distribute-agency-content .distribute:last-child {
      padding-left: 15px; }
      .distributor-agency .distribute-agency-content .distribute:last-child .content-group {
        border: none; }

  .login > a {
    background: #232128 none repeat scroll 0 0;
    bottom: calc(100% + 35px);
    position: absolute;
    right: 0; }

  .language button {
    margin-right: 110px;
    margin-top: 15px; }

  .title-product {
    font-size: 20px; }

  .title-icon-sidebar h4 {
    font-size: 17px; }
    .title-icon-sidebar h4 span {
      font-size: 20px; }

  footer .footer-item h3 {
    display: inline-block;
    width: 100%;
    text-align: left; }
    footer .footer-item h3 img {
      margin-top: -18px; }
  footer .footer-item .hotline h2, footer .footer-item .hotline h3 {
    font-size: 30px; }

  .header-slider {
    display: inline-block; }

  .img-product {
    padding-right: 0; }

  .title-group {
    margin: 20px 0; }

  .feature-product {
    margin-bottom: 20px; }

  .distributor-agency .distribute-agency-content .content-group {
    padding-bottom: 10px; }

  .category-item .category-title {
    float: left;
    width: 100%; }

  .contact-form form {
    padding: 20px 5px;
    text-align: left;
    width: 100%; }

  footer {
    margin-top: 0; }

  .feature-post .title-post {
    font-size: 14px;
    margin: 5px 0; }

  .img-post {
    padding-right: 0; }

  .feature-product .description-product {
    font-size: 13px; }

  .action-item a {
    font-size: 14px;
    height: auto;
    padding: 10px;
    text-align: center;
    width: auto; }

  .pagination li a, .pagination li span {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding-top: 10px;
    width: 40px; }

  .list-product .product-item .product-info h3 {
    font-size: 14px;
    margin: 0; }
  .list-product .product-item .product-info a {
    font-size: 14px; }
  .list-product .product-item .product-info p span {
    font-size: 14px; }

  .product-information {
    display: inline-block;
    width: 100%; }

  .product-share > a {
    font-size: 16px;
    padding: 15px 0;
    width: 100%; }

  .title-product-page {
    font-size: 18px; }

  .single-image-product img {
    border: 1px solid #dedede; }

  .single-post-image img {
    width: 100%; }

  .single-post-description h1 {
    font-size: 18px; }

  .order {
    width: 25%;
    float: left; }
    .order p {
      font-size: 14px; }
      .order p.order-header {
        font-size: 14px; }

  .list-header .text-center {
    float: left;
    width: 25%; }

  .order-items .grid-border > div {
    float: left;
    width: 25%; } }
@media screen and (max-width: 640px) {
  .main-menu {
    margin-top: -10px; }
    .main-menu .menu-main {
      float: right;
      width: 50px; }

  .language button {
    margin-right: 0;
    margin-top: 0; }

  .login > a {
    position: static; }

  .language button {
    margin-right: 0;
    margin-top: 7px; }

  .main-content-wrap {
    box-shadow: none; }

  .distributor-agency .distribute-agency-content .content-group {
    padding-left: 20px; }

  .title-distribute-agency h3 {
    font-size: 14px; }
  .title-distribute-agency h4 {
    font-size: 16px; }

  .dg-container {
    height: auto;
    width: 100%; }

  footer .footer-item.about-company {
    margin-top: 25px; }
  footer .footer-item h3 {
    font-size: 15px; }
    footer .footer-item h3 img {
      width: 35px;
      margin-top: -12px; }
  footer .footer-item .hotline h3, footer .footer-item .hotline h2 {
    font-size: 25px;
    text-align: center; }
  footer .footer-item .work-time {
    margin-top: 10px;
    padding: 10px 0;
    margin-bottom: 10px; }
  footer .footer-item #map {
    height: 200px;
    width: 100%; }

  .login h2 {
    font-size: 18px; }
  .login h3 {
    font-size: 16px; }
  .login .login-form label {
    float: left; }
  .login .login-form .form-group {
    margin: 0; }
    .login .login-form .form-group .checkbox {
      margin-left: 15px; }

  .title-icon-sidebar {
    margin: 20px 0; }
    .title-icon-sidebar h4 {
      margin: -10px 0 0; }

  .dg-container {
    display: none; }

  .mobile-slider {
    display: block; }

  .bx-wrapper .bx-viewport {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    left: 0;
    transform: translateZ(0px); }

  .title-distribute-agency h4 {
    display: none; }
  .title-distribute-agency a {
    display: none; }
  .title-distribute-agency h3 {
    width: 100%; }

  .work-time > h4 {
    font-size: 14px; }

  .title-product {
    font-size: 14px;
    margin: 5px 0; }

  .description-post > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre; }

  .title-block {
    font-size: 13px; }

  .arrow-menu {
    height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 7px;
    width: 20px; }

  .header-slider {
    overflow: hidden;
    width: 100%; }
    .header-slider .owl-carousel .owl-stage-outer {
      overflow: hidden; } }
@media screen and (max-width: 480px) {
  .title-distribute-agency h3 {
    font-size: 13px;
    padding-right: 0; }

  .video-sidebar h4 {
    font-size: 14px; }

  .item-detail > .code {
    display: none; }

  .item-detail > div {
    width: 25%; }

  .action-item button {
    font-size: 14px;
    height: 41px;
    padding-top: 7px;
    width: 140px; }

  .action-pager {
    margin-bottom: 10px; }

  .main-menu {
    margin-top: 0; }

  .language {
    margin: 10px 0; } }

/*# sourceMappingURL=responsive.css.map */
