@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin float($float) {
  float: $float;
}

@include font-face(MyriadPro, fonts/MYRIADPRO);
@include font-face(MyriadPro, fonts/MYRIADPRO-SEMIBOLD, 600, semibold);
@include font-face(MyriadPro, fonts/MYRIADPRO-BOLD, 700, bold);
body {
  background: #fff none repeat scroll 0 0;
  font-family: "MyriadPro", sans-serif;
}

.fleft {
  @include float(left)
}

.fright {
  @include float(right)
}

iframe {
  width: 100% !important;
}

.relative {
  position: relative;
}

a {
  color: inherit;
}

a:hover, a:visited {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.top-header {
  background: #fff;
}

.logo {
  margin-top: 5px;
  img {
    left: 15px;
    max-height: 80px;
    position: absolute;
    top: 0;
  }
}

.language {
  margin: 10px 0 20px;
  button {
    background: #FAAF42;
    border: none;
    color: #fff;
    padding: 5px 10px;
    display: block;
    & span {
      border: 1px solid #fff;
      padding: 5px;
      text-transform: capitalize;
    }
  }
  & .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
    top: 25px;
  }
}

.main-menu {
  background: #40373e none repeat scroll 0 0;
  border-bottom: 1px solid #231f20;
  color: #fff;
  clear: both;
  & .login {
    & ul {
      & li {
        & ul.sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }
  ul {
    margin: 0;
    li {
      float: left;
      list-style: outside none none;
      position: relative;
      .sub-menu {
        background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
        display: none;
        left: 0;
        position: absolute;
        padding: 0;
        top: 100%;
        width: 200px;
        z-index: 9999;
        & li {
          width: 100%;
          & a {
            color: #231F20;
            display: block;
          }
          &:hover > a, &:visited > a, &.active > a {
            background: #232028;
            text-decoration: none;
            color: #37b34a;
          }
          & .sub-menu {
            left: 100%;
            top: 0;
          }
        }
      }
      a {
        color: #fff;
        display: block;
        font-size: 15px;
        padding: 7px 20px;
        text-transform: uppercase;
      }
      &:hover {
        & > .sub-menu {
          display: block;
        }
      }
      &:hover > a, &:visited > a, &.active > a {
        background: #232028;
        text-decoration: none;
        color: #37b34a;
      }
    }
  }
}

.login {
  & > a {
    display: block;
    font-size: 15px;
    padding: 7px 15px;
    text-transform: uppercase;
    &:hover, &.active {
      background: #232028;
      color: #37B34A;
      cursor: pointer;
      text-decoration: none;
    }
  }
  & .modal-content {
    background: transparent url("../images/bg_login.png") repeat scroll center bottom / cover;
    padding: 0 0 100px;
    position: relative;
    & .login-form {
      width: 80%;
      display: inline-block;
      & form {
        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        margin-top: 20px;
        padding: 30px 30px 10px;
      }
      & button {
        color: #000;
        text-transform: uppercase;
        padding: 5px 20px;
      }
      & .forgot-pass {
        & a {
          color: #2d3372;
          display: block;
          font-weight: normal;
          font-size: 16px;
          margin-top: 10px;
          & span {
            color: #000;
          }
        }
      }
    }
    & .modal-header {

    }
  }
}

.header-slider {
  & img {
    width: 100%;
    height: auto;
  }
  & .owl-carousel .owl-stage-outer {
    overflow: visible;
    position: relative;
    position: relative;
    & .owl-item {
      &:after {
        background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &.active:after {
        display: none;
      }
    }
  }
}

.main-content-wrap {
  box-shadow: 0 0 37px rgba(0, 104, 56, 0.3);
  .main-content {
    background: #fff none repeat scroll 0 0;
    padding: 80px 80px 20px;
  }
}

.icon {
  float: left;
  margin-right: 5px;
  width: 20px;
}

.title-icon {
  fill: #FAAF42;
}

.title-block {
  border-bottom: 1px dotted;
  color: #8a5d3b;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}

.feature-post {
  .content-post {
    & .title-block {
      color: #37B34A;
    }
    & .title-icon {
      fill: #37B34A;
    }
    & .description-post {
      color: #f16522;
      & .read-more {
        background: #faaf40 none repeat scroll 0 0;
        color: #fff;
        padding: 3px;
        border-radius: 5px;
      }
    }
    & .img-post img {
      border: 1px solid #3b2314;
    }
  }
  .title-post {
    color: #f6921e;
    font-size: 17px;
  }
  &:hover {
    & .title-post {
      color: #231F20;
    }
  }
}

.title-product {
  color: #3bb34a;
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
  text-transform: uppercase;
  a:hover {
    text-decoration: none;
  }
}

.feature-product {
  margin-bottom: 40px;
  & .product-info > p {
    color: #8a5d3b;
    float: left;
    margin-bottom: 6px;
    width: 50%;
    & .vol {
      background: #ffdd15 none repeat scroll 0 0;
      color: #ee4036;
      padding: 2px 5px;
      border-radius: 3px;
    }
    & .sku {
      color: #F05A28;
      text-transform: uppercase;
    }
    & .madein {
      color: #3B2314;
    }

  }
  & .description-product {
    clear: both;
    color: #a87c4f;
    font-size: 16px;
    & img {
      display: none;
    }
  }
  & .img-product img {
    border: 1px solid #3b2314;
  }
  &:hover {
    & .title-product {
      color: #231F20;
    }
    & .read-more {
      background: #EB008B;
      text-decoration: none;
    }
  }
}

.title-group {
  background: rgba(214, 222, 35, 0.5) ;
  border: 1px solid #29b473;
  margin: 0px 0 40px;
  padding: 0 10px 0 30%;
  & h2 {
    background: #fff none repeat scroll 0 0;
    color: #8a5d3b;
    font-size: 15px;
    margin: 0;
    padding: 5px 0 5px 30px;
    text-transform: uppercase;
  }
}

.category-item {
  padding: 0;
  & .category-title {
    position: relative;
    & span .fa {
      font-size: 30px;
      line-height: 0.5;
    }
  }
  &:hover {
    a {
      color: #231F20;
      text-decoration: none;
      & span {
        color: #fff;
      }
    }
  }
  &:nth-child(4):hover {
    a {
      color: #58595B;
    }

  }
  h3 {
    background: #e90e8b none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    margin: 0;
    & a {
      display: block;
      padding: 15px;
      position: relative;
      z-index: 99;
    }
  }
  &:nth-child(2) h3 {
    background: #8CC541;
  }
  &:nth-child(3) h3 {
    background: #28A8E0;
  }
  &:nth-child(4) h3 {
    background: #282560;
  }
  &:nth-child(5) h3 {
    background: #29B574;
  }
  &:last-child h3 {
    background: #FAAF42;
  }
}

.ads-item {
  margin: 40px 0;
}

.top-sidebar {
  float: left;
  padding-left: 15px;
  width: 100%;
  & .title-top-sidebar {
    background: #00a69c none repeat scroll 0 0;
    float: left;
    padding-left: 15px;
    width: calc(100% + 80px);
    & h3 {
      background: #231f20 none repeat scroll 0 0;
      color: #29b473;
      float: left;
      font-size: 18px;
      margin: 0;
      padding: 10px;
      text-transform: uppercase;
    }
  }
  &:after {
    border: 1px dotted #29b473;
    content: "";
    height: 82%;
    left: 0;
    position: absolute;
    top: 65px;
    width: 1px;
  }
}

.title-icon-sidebar {
  background: #8bc53f none repeat scroll 0 0;
  float: left;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 100%;
  margin: 40px 0;
  & h4 {
    background: #fff none repeat scroll 0 0;
    color: #f6921e;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: -20px 0 0;
    padding-left: 2px;
    text-transform: uppercase;
    width: 70%;
    & span {
      color: #00a69c;
      float: left;
      font-size: 30px;
      width: 100%;
    }
  }
  & .sidebar-title-icon {
    float: left;
    margin: 10px 0 0 10px;
    width: 30px;
    & .title-icon {
      fill: #fff;
    }
  }
}

.video-sidebar {
  float: left;
  width: 100%;
  & .video-detail {
    background: #00a69c none repeat scroll 0 0;
    padding: 15px 3px;
    & iframe {
      height: 200px;
    }
  }
  & h4 {
    color: #603813;
    font-size: 24px;
    font-weight: 600;
  }
}

.post-sidebar-item {
  float: left;
  width: calc(100% + 15px);
  margin-bottom: 15px;
  padding-bottom: 15px;
  &:after {
    border-bottom: 1px dotted #CDD27A;
    bottom: 0;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    width: calc(100% - 15px);
  }
  & .title-post {
    color: #00A69C;
    font-size: 13px;
    margin: 0;
  }
  .content-post {
    padding-left: 0;
    & p {
      color: #754c28;
      height: 2.6em;
      overflow: hidden;
    }
  }
  .read-more {
    background: #00a69c none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px;
  }
  &:hover {
    & .title-product {
      color: #3B2314;
    }
  }
}

.title-distribute-agency {
  background: #fff none repeat scroll 0 0;
  border-color: #000000;
  border-style: solid;
  border-width: 1px 0;
  width: 100%;
  & h3 {
    background: rgba(246, 146, 30, 0.5) none repeat scroll 0 0;
    color: #3b2314;
    font-size: 20px;
    margin: 0;
    padding: 15px 30px 0 0;
    text-transform: uppercase;
    & span {
      background: #5a4a42 none repeat scroll 0 0;
      padding: 10px 30px 10px 15px;
      margin: -15px 25px 0 0;
      &:after {
        border-color: transparent #fac88e transparent transparent;
        border-style: solid;
        border-width: 0 17px 50px;
        content: "";
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
      }
    }
  }
  & h4 {
    color: #8a5d3b;
    font-size: 20px;
    margin: 0;
    padding: 15px 20px 0;
    text-transform: uppercase;
  }
  & a {
    background: rgba(246, 146, 30, 0.5) none repeat scroll 0 0;
    padding: 14px 25px;
    & img {
      transition: all 0.5s ease 0s;
    }
    &.active {
      background: #F6921E;
      & img {
        transform: rotate(180deg);
      }
    }
  }
}

.distributor-agency {
  display: inline-block;
  width: 100%;
  & .title-agency-content {
    background: #c3996b none repeat scroll 0 0;
    color: #3b2314;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 1px 0;
    float: left;
    width: 100%;
  }
  & .distribute-agency-content {
    background: #fff8ee none repeat scroll 0 0;
    display: none;
    & .distribute {
      padding-right: 0;
      &:last-child {
        padding-right: 15px;
        padding-left: 0;
        & .content-group {
          border-left: 2px dotted #A87C4F;
          padding-left: 20px;
        }
      }
    }
    & .agency {
      padding-left: 0;
      & .content-group {
        padding-left: 15px;
      }
    }
    & .content-group {
      float: left;
      padding-left: 5px;
      padding-bottom: 50px;
      width: 100%;
      & .content-group-item {
        margin-bottom: 15px;
        & h3 {
          border-bottom: 2px dotted #c1b49a;
          color: #5a4a42;
          font-size: 15px;
          float: left;
          margin: 5px 0 10px;
          padding-bottom: 5px;
          text-transform: uppercase;
          width: 70%;
          & img {
            width: 20px;
            margin-right: 15px;
          }
        }
        & .ad-address {
          float: left;
          width: 80%;
          & p {
            font-size: 11px;
          }
        }
      }
    }

  }
}

footer {
  background: #F1F1F2;
  border-top: 5px solid #00A69C;
  color: #5A4A42;
  font-size: 13px;
  position: relative;
  margin-top: 35px;
  padding: 25px 10px 0;
  &:after {
    background: #000;
    height: 1px;
    width: 100%;
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
  }
  & p {
    margin: 0;
  }
  & .footer-item {
    &.representative-office .phone span {
      width: auto;
      margin-right: 5px;
    }
    & #map {
      height: 200px;
      width: 360px;
    }
    & .hotline {
      font-weight: 600;
      text-align: center;
      & h2 {
        color: #00A69C;
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
      }
      & h3 {
        border: medium none;
        color: #EB008B;
        font-size: 45px;
        font-weight: 600;
        margin: 0;
      }
    }
    & h3 {
      color: #5a4a42;
      font-size: 20px;
      margin: 0;
      text-transform: uppercase;
      border-bottom: 2px solid #A6A8AB;
      padding-bottom: 5px;
      margin-bottom: 10px;
      & img {
        float: left;
        margin-right: 15px;
        width: 48px;
      }
    }
    & .work-time {
      border: 1px solid;
      text-align: center;
      margin-top: 50px;
      padding: 8px;
    }
    & .social-footer {
      margin: 7px 0;
      & p {
        font-weight: 600;
        &.social-icon {
          display: inline-block;
          width: 100%;
          margin-bottom: 5px;
          margin-top: 10px;
          & a{
            border: 1px solid;
            border-radius: 50%;
            color: #ea4335;
            display: block;
            float: left;
            font-size: 20px;
            height: 40px;
            margin-right: 10px;
            padding-top: 8px;
            text-align: center;
            width: 40px;
            &.icon-fb {
              color: #3B5998;
            }
            &:hover {
              color: #fff;
              background: #ea4335;
              &.icon-fb {
                background: #3B5998;
              }
            }
          }
        }
      }
    }
    & .phone {
      font-size: 20px;
      font-weight: 600;
      & span {
        float: left;
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
        width: 125px;
      }
    }
  }
}

.header-slider {
  overflow: hidden;
}

.list-product {
  margin: 0 -1px;
  & .product-item {
    padding: 5px 0;
    & .product-item-wrap {
      border: 1px solid transparent;
    }
    &:hover {
      & .product-item-wrap {
        border: 1px solid #c1b49a;
        & .product-info {
          & a {
            text-decoration: none;
            display: block;
            &.view-detail {
              background: #00a69c none repeat scroll 0 0;
            }
          }

        }
      }

    }
    & .img-product {
      text-align: center;
    }
    & .product-info {
      & h3 {
        color: #00a69c;
        font-size: 18px;
        font-weight: 600;
        height: 2.6em;
        line-height: 1.3;
        overflow: hidden;
        & a {
          background: transparent none repeat scroll 0 0;
          color: #00a69c;
          display: inline-block;
          height: 2.6em;
          line-height: 1.3;
          margin: 0;
          padding: 0 0 0 8px;
          text-align: left;
        }
      }
      & p {
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        width: 100%;
        & span {
            color: #eb008b;
            float: left;
            font-size: 18px;
            font-weight: 600;
            margin-right: 20px;
          &.fleft {
            color: #333;
            font-size: 14px;
            font-weight: normal;
            margin-top: 4px;
          }
        }

      }
      & a {
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.action-pager {
  margin-top: 50px;
}

.action-item {
  &.go-home a {
    background: #C1B49A;
    &:hover {
      background: #00A69C;
      text-decoration: none;
    }
  }
  &.go-top a {
    background: #C3996B;
    &:hover {
      background: #FAAF40;
      text-decoration: none;
    }
  }
  &.add-item a {
    background: #c1b49a;
    height: 50px;
    &:hover {
      background: #00a69c;
      text-decoration: none;
    }
  }
  &.order-cancel {
    padding-right: 70px;
    & a {
      background: #faaf40;

      &:hover {
        background: #c3996b;
        text-decoration: none;
      }
    }
  }
  &.order-accept {
    padding-left: 70px;
    & button {
      background: #057267;
      border: none;

      &:hover {
        background: #00a69c;
        text-decoration: none;
      }
    }
  }
  & a {
    font-size: 20px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    width: 200px;
  }
  & button {
    font-size: 20px;
    height: 60px;
    padding-top: 7px;
    text-align: center;
    width: 200px;
  }

}

.pagination {
  clear: both;
  text-align: center;
  width: 100%;
  & li {
    display: inline-block;
    margin-right: 5px;
    a, span {
      background: #c1b49a none repeat scroll 0 0;
      color: #fff;
      display: block;
      font-size: 16px;
      font-weight: 600;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      width: 50px;
    }
    &:hover a, &.active a, &.active a:hover {
      border: none;
      background: #EB008B;
      color: #fff;
      text-decoration: none;
    }
  }
}

.product-share {
  background: #00a69c none repeat scroll 0 0;
  border-bottom: 2px solid #3b2314;
  float: left;
  width: 100%;
  & > a {
    background: #eb008b;
    color: #fff;
    font-size: 16px;
    padding: 18px 0;
    width: 25%;
  }
  & img {
    max-height: 40px;
  }
  & p {
    font-size: 16px;
    padding: 20px 20px 0;
  }
  & .goodshare-color {
    & a {
      color: #fff;
      float: left;
      font-size: 26px;
      height: 50px;
      margin-top: 6px;
      padding: 10px;
      text-align: center;
      width: 50px;
      margin-right: 10px;
      &:hover {
        background: #fff;
        &.fb {
          background: #fff;
          color: #3B5998;
        }
        &.tw {
          background: #fff;
          color: #00ABF1;
        }
        &.gp {
          background: #fff;
          color: #EA4335;
        }
      }
      &.fb {
        background: #3B5998;
      }
      &.tw {
        background: #00ABF1;
      }
      &.gp {
        background: #EA4335;
      }
    }
  }
}

.post-item {
  margin-bottom: 30px;
  & .title-post {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  & .read-more {
    background: #00a69c none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px;
  }

}

.category-name {
  & h2 {
    background: #8BC53F;
    border: 1px solid #8BC53F;
    margin: 40px 0;
    padding: 0 10px 0 30%;
    & a {
      background: #fff none repeat scroll 0 0;
      display: block;
      font-size: 18px;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
}
.category-post-item:first-child .category-name > h2 {
  margin: 0 0 20px;
}

.contact-form {
  & form {
    background: #d1e2a3;
    display: inline-block;
    width: 80%;
    padding: 20px;
    & button {
      clear: both;
    }
  }
}

.help-block.help-block-error {
  float: left;
}

.info-group {
  border: 1px solid #c1b49a;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;

  & h3 {
    border-bottom: 1px solid #c1b49a;
    margin: 10px 0;

  }
  & a {
    color: #9a8479;
    float: right;
    margin: 15px 0;
  }
}

.profile-title {
  border-bottom: 2px solid #c1b49a;
}

.wrapper {
  padding: 0 30px;
}

.order {
  margin: 7px 0;
  background-color: #00a69c;
  padding: 20px 10px 10px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  &:last-child {
    text-align: center;
  }
}

.arrow-down {
  float: right;
  position: absolute;
  top: 49px;
  right: 14px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid #fff;
}

.arrow-right {
  float: right;
  position: absolute;
  top: 45px;
  right: 14px;
  width: 10px;
  height: 10px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid #fff;
}

.order-header {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 600;
}

.top-alert {
  border: solid 0.5px #c1b49a;
  height: 40px;
  padding: 10px 30px;
}

.title-order {
  padding-bottom: 10px;
  border-bottom: 1px solid #c1b49a;
}

.filters {
  display: inline-block;
  float: left;
  margin-top: 20px;
  & select {
    &.filter-order {
      height: 40px;
      width: 200px;
      display: inline-block;
    }
  }
}

.order-thumbnail {
  max-height: 40px;
  position: relative;
  top: 6px;
}

.grid-border {
  border: 1px solid #c1b49a;
  padding-bottom: 5px
}

.product-title {
  color: #00a69c;
  position: relative;
  top: 10px;
}

.product-detail {
  color: #eb008b;
  position: relative;
  top: 16px;
}

.text-center {
  text-align: center;
}

.stt {
  position: relative;
  top: 16px;
  padding-right: 0;
}

.list-header {
  & p {
    margin-bottom: 0;
  }
}

.order-items {
  display: none;
}

.grid-display {
  & input {
    float: left;
  }
  display: inline-block;
  padding-left: 8px;
  padding-right: 0;
  margin-top: 10px;
  text-align: center;
}

.id {
  width: 60px;
}

.code {
  width: 100px;
}

.category-select {
  width: 240px;
}

.product-select {
  width: 300px;
}

.quantity {
  width: 100px;
}

.price-show {
  width: 164px;
}

.title-page {
  background: rgba(127, 201, 162, 1) ;
  border: 1px solid #29b473;
  margin: 0 0 20px;
  padding: 0 10px 0 30%;
  position: relative;
  & h1 {
    background: #fff none repeat scroll 0 0;
    color: #7fc9a2;
    font-size: 15px;
    margin: 0;
    padding: 5px 0 5px 30px;
    text-transform: uppercase;
  }
  & > a {
    left: 10px;
    position: absolute;
    top: 4px;
  }
}

.form-height {
  height: 34px;
}

.form-boder {
  border-radius: 0;
}

.item-header {
  background-color: #00a69c;
  color: #fff;
}

.product-select {
  & select {
    background: url(/web/themes/frontend/assets/images/green-arrow.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 263px;
    background-size: 16px 16px;
  }
}

.category-select {
  & select {
    background: url(/web/themes/frontend/assets/images/green-arrow.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-position-x: 205px;
    background-size: 16px 16px;
  }
}

.wrapper-order {
  border-bottom: 2px solid #00a69c;
  padding-bottom: 30px;
  margin-bottom: 10px;

}

.order-title {
  margin-bottom: 50px;
  & h3 {
    font-size: 40px;
    color: #5a4a42;
    font-weight: 600;
  }
  & p {
    color: #9e9790;
    font-style: italic;
  }
}

.label-item {
  & p {
    text-align: right;
  }
}

.value-item {
  & p {
    text-align: right;
    font-weight: 700;
  }
}

.total {
  & p {
    font-weight: 700;
    text-transform: uppercase;
  }

}

.logout-profile {
  width: 83px;
  height: 31px;
  position: relative;
  right: -890px;
  bottom: -35px;
  background: #057267;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  text-decoration: none;
  & a {
    position: relative;
    text-decoration: none;

  }
}

.logout-profile:hover {
  background: #00A69C;
}

.product-information {
  margin: 15px 0;
}

.product-lager-image img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.order-link {
  background: #057267;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  float: right;
  top: 11px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  line-height: 53px;
  & a {
    font-weight: bold;
    position: relative;
    color: #fff;
    width: 100px;
    height: 50px;
    text-decoration: none;
  }
  &:hover {
    background: #00a69c;
  }
}
.single-post-description h1 {
  background: #c1b49a none repeat scroll 0 0;
  font-size: 25px;
  padding: 10px;
}
.breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
#cboxContent {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#cboxLoadedContent {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
#cboxClose {
  background: rgba(0, 0, 0, 0) url("../images/close.png") no-repeat scroll 0 0;
  height: 58px;
  width: 58px;
}
#cboxClose:hover {
  background-position: -19px 19px;
}
.popup {
  display: none;
}